{%- comment -%}
  Block  : wdt-description.liquid
  Type   : wdt-description
  Parent : blocks/wdt-header.liquid
{%- endcomment -%}

{%- if block.settings.description != blank -%}
  <div
    class="wdt-hdr__desc rte"
    {{ block.shopify_attributes }}
    style="
      padding-top: {{ block.settings.padding_top }}px;
      padding-bottom: {{ block.settings.padding_bottom }}px;
    "
  >
    {{- block.settings.description -}}
  </div>
{%- endif -%}

{% stylesheet %}
   
.wdt-hdr__desc {
  font-size: 1rem;
  line-height: 1.7;
  opacity: 0.75;
  max-width: 620px;
  margin-inline: auto;
  margin-top: 0;
  margin-bottom: 0;
}

{% endstylesheet %}

{% schema %}
{
  "name": "Description",
  "settings": [
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0, "max": 50, "step": 2, "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0, "max": 50, "step": 2, "unit": "px",
      "default": 16
    }
  ]
}
{% endschema %}
